{% set logos = [
	'static/logos/logo-lawrence.svg',
	'static/logos/logo-sevendays.svg',
	'static/logos/logo-lawrence-chamber.webp',
	'static/logos/logo-lumberyard-arts-center.webp',
	'static/logos/logo-union-station.svg',
	'static/logos/logo-mche.svg',
	'static/logos/logo-louisburg-library.svg',
	'static/logos/logo-great-jobs-kc.webp',
	'static/logos/logo-mpl.svg',
	'static/logos/logo-douglas-county.svg',
	'static/logos/logo-mogro.webp',
	'static/logos/logo-ocs.svg',
	'static/logos/logo-st-jude.svg',
	'static/logos/logo-unmistakably-lawrence.svg',
	'static/logos/logo-spencer-museum-of-art.svg',
	'static/logos/logo-bert-nash.webp',
	'static/logos/logo-watkins-museum.svg',
	'static/logos/logo-arts-partners.webp',
	'static/logos/logo-cottins-hardware.svg',
	'static/logos/logo-ahh.svg',
	'static/logos/logo-dole-institute.svg',
	'static/logos/logo-hall-center.svg',
	'static/logos/logo-in-the-name-of-grace.webp',
	'static/logos/logo-lawrence-preservation-alliance.svg',
	'static/logos/logo-paper-plains.svg',
	'static/logos/logo-usc-dornsife.svg',
	'static/logos/logo-IDRH.webp',
	'static/logos/logo-thrive-allen-county.svg',
	'static/logos/logo-trc.webp',
	'static/logos/logo-hcc.webp',
	'static/logos/logo-care-center.svg',
	'static/logos/logo-outdoors-unscripted.svg',
	'static/logos/logo-hca.webp',
	'static/logos/logo-depot-theater.svg',
	'static/logos/logo-vinland-valley-nursery.svg'
] %}
<section class="sm:px-0 max-w-screen-xl px-2 mx-auto mt-8">
	<div class="lg:grid-cols-5 sm:gap-6 sm:grid-cols-4 lg:gap-8 grid grid-cols-3 gap-4">
		{% for logo in logos %}
			<img class="aspect-[3/2] w-full h-full object-contain"
				src="{{ theme.link ~ '/' ~ logo }}"
				role="decoration" />
		{% endfor %}
	</div>
</section>
