<a class="hover:text-purple-700 text-purple-500"
	target="_blank"
	href="https://www.instagram.com/coneflowerconsulting/">
	<i class="fab fa-instagram"></i>
</a>
<a class="hover:text-purple-700 text-purple-500"
	target="_blank"
	href="https://www.facebook.com/coneflowerconsulting">
	<i class="fab fa-facebook"></i>
</a>
<a class="hover:text-purple-700 text-purple-500"
	target="_blank"
	href="https://www.linkedin.com/company/coneflower-consulting/">
	<i class="fab fa-linkedin"></i>
</a>
