/**
 * Block editor button block.
 */

.wp-block-button__link {
	background-color: var(--wp--preset--color--dark-gray);
	border-radius: theme('borderRadius.none');
	color: var(--wp--preset--color--white);
	font-family: theme('fontFamily.display');
	font-size: var(--wp--preset--font-size--base);
	padding-block: 0.5em;
	padding-inline: 1.5em;
	text-decoration: none !important;
}

.wp-block-button__link:any-link {
	color: var(--wp--preset--color--white);
}

.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:active {
	opacity: 0.8;
}

.is-style-small > .wp-block-button__link {
	font-size: var(--wp--preset--font-size--sm);
	padding-block: 0.25em;
	padding-inline: 1em;
}

.is-style-large > .wp-block-button__link {
	border-radius: theme('borderRadius.none');
	font-size: var(--wp--preset--font-size--large);
}
