{% extends 'base.twig' %}

{% block content %}
	<div class="bg-gradient-to-br from-gray-500 to-gray-700 md:p-6 p-4">
		<header>
			<h1 class="font-display drop-shadow text-2xl text-center text-white">
				Design Portfolio
			</h1>
		</header>
		<section class="mx-auto mt-6">
			<div class="columns-2 sm:columns-2xs md:gap-6 gap-4 space-y-6">
				{% for post in posts %}
					<div class="break-inside-avoid">
						<a href="{{ post.link }}">
							<div class="group hover:shadow-xl hover:scale-105 relative transition-all bg-white shadow-lg">
								<img class="w-full" src="{{ post.thumbnail.src('medium') }}" />
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
